.elementor-422 .elementor-element.elementor-element-064aba7{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:50px;--margin-bottom:150px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:35px;--padding-right:35px;}.elementor-422 .elementor-element.elementor-element-f1af882{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-d114584{width:auto;max-width:auto;position:absolute;top:-250px;left:-400px;}.elementor-422 .elementor-element.elementor-element-7ddeaf8{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-805273f{--display:flex;--justify-content:center;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:0%;--padding-bottom:0%;--padding-left:0%;--padding-right:5%;}.elementor-422 .elementor-element.elementor-element-25cdf7b{animation-duration:2000ms;margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 30px) 0px;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-422 .elementor-element.elementor-element-25cdf7b .aux-modern-heading-primary{font-size:20px;font-weight:bold;letter-spacing:-0.6px;color:var( --e-global-color-primary );}.elementor-422 .elementor-element.elementor-element-25cdf7b .aux-modern-heading-secondary{font-size:60px;font-weight:bold;text-transform:capitalize;line-height:1.125em;letter-spacing:-1.8px;color:var( --e-global-color-e624a0f );max-width:470px;}.elementor-422 .elementor-element.elementor-element-25cdf7b .aux-modern-heading-description{color:var( --e-global-color-4d1ca35 );font-size:16px;font-weight:500;line-height:1.5em;}.elementor-422 .elementor-element.elementor-element-46947fc input:not([type="submit"]){background-color:#F3F5F8;font-size:16px;font-weight:500;font-style:normal;color:var( --e-global-color-4d1ca35 );max-width:393px;height:55px;border-radius:30px 30px 30px 30px;padding:0px 0px 0px 40px;border-style:solid;border-width:0px 0px 0px 0px;transition:all ease-out 0.3s;}.elementor-422 .elementor-element.elementor-element-46947fc textarea{background-color:#F3F5F8;font-size:16px;font-weight:500;font-style:normal;height:265px;border-radius:20px 20px 20px 20px;padding:27px 20px 20px 40px;margin:0px 0px 45px 0px;border-style:solid;border-width:0px 0px 0px 0px;transition:all ease-out 0.3s;}.elementor-422 .elementor-element.elementor-element-46947fc input[type="submit"]{background-color:transparent;font-size:16px;font-weight:bold;text-transform:capitalize;line-height:1.25em;letter-spacing:-0.48px;border-radius:50px 50px 50px 50px;padding:19px 38px 18px 49px;background-image:linear-gradient(104deg, var( --e-global-color-text ) 0%, var( --e-global-color-accent ) 100%);transition:all ease-out 0.3s;}.elementor-422 .elementor-element.elementor-element-46947fc input[type="submit"]:hover{background-color:transparent;background-image:linear-gradient(254deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);box-shadow:0px 20px 40px 0px rgba(255, 24.999999999999996, 109.99999999999986, 0.10196078431372547);}.elementor-422 .elementor-element.elementor-element-46947fc{animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-422 .elementor-element.elementor-element-46947fc input:not([type="submit"]):focus{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );}.elementor-422 .elementor-element.elementor-element-46947fc input:not([type="submit"])::placeholder{font-size:16px;font-weight:500;font-style:normal;color:var( --e-global-color-4d1ca35 );}.elementor-422 .elementor-element.elementor-element-46947fc input[type="text"]{transition:all ease-out 0.3s;}.elementor-422 .elementor-element.elementor-element-46947fc input[type="email"]{transition:all ease-out 0.3s;}.elementor-422 .elementor-element.elementor-element-46947fc select{transition:all ease-out 0.3s;}.elementor-422 .elementor-element.elementor-element-46947fc textarea:focus{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );}.elementor-422 .elementor-element.elementor-element-46947fc textarea::placeholder{font-size:16px;font-weight:500;font-style:normal;color:var( --e-global-color-4d1ca35 );}.elementor-422 .elementor-element.elementor-element-30db38a{--display:flex;--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-98f0a1d{width:100%;max-width:100%;animation-duration:2500ms;box-shadow:0px 60px 40px -20px rgba(112, 121.00000000000001, 139, 0.10196078431372549);animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-422 .elementor-element.elementor-element-98f0a1d.elementor-element{--align-self:flex-end;}.elementor-422 .elementor-element.elementor-element-98f0a1d .aux-map-wrapper{height:786px;}.elementor-422 .elementor-element.elementor-element-88e8881{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:135px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:35px;--padding-right:35px;}.elementor-422 .elementor-element.elementor-element-ecb5e8d{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-99e535f{width:auto;max-width:auto;position:absolute;top:0px;right:-600px;}.elementor-422 .elementor-element.elementor-element-3f17969{width:auto;max-width:auto;position:absolute;top:0px;left:-600px;}.elementor-422 .elementor-element.elementor-element-e782528{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-be3328c{--display:flex;--justify-content:center;--margin-top:0px;--margin-bottom:0px;--margin-left:20px;--margin-right:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-81807fb{animation-duration:2500ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-422 .elementor-element.elementor-element-81807fb .aux-ico-box{padding:0px 040px 0px 0px;color:#ffffff;fill:#ffffff;}.elementor-422 .elementor-element.elementor-element-81807fb .col-title a, .elementor-422 .elementor-element.elementor-element-81807fb .col-title{color:#061058 !important;}.elementor-422 .elementor-element.elementor-element-81807fb .col-title, .elementor-422 .elementor-element.elementor-element-81807fb .col-title a{font-size:25px;font-weight:bold;text-transform:capitalize;line-height:1.2em;letter-spacing:-0.75px;}.elementor-422 .elementor-element.elementor-element-81807fb .widget-content{color:#061058 !important;font-size:15px;font-weight:500;line-height:2em;}.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-advanced-text{text-align:left !important;padding:12% 11% 12% 11%;}.elementor-422 .elementor-element.elementor-element-81807fb .aux-text-widget-overlay, .elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-advanced-text{border-radius:50px 50px 50px 50px;}.elementor-422 .elementor-element.elementor-element-cbdecfe{--display:flex;--justify-content:center;--margin-top:0px;--margin-bottom:0px;--margin-left:20px;--margin-right:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-84b4739{animation-duration:2500ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-ico-box{padding:0px 040px 0px 0px;color:#ffffff;fill:#ffffff;}.elementor-422 .elementor-element.elementor-element-84b4739 .col-title a, .elementor-422 .elementor-element.elementor-element-84b4739 .col-title{color:#061058 !important;}.elementor-422 .elementor-element.elementor-element-84b4739 .col-title, .elementor-422 .elementor-element.elementor-element-84b4739 .col-title a{font-size:25px;font-weight:bold;text-transform:capitalize;line-height:1.2em;letter-spacing:-0.75px;}.elementor-422 .elementor-element.elementor-element-84b4739 .widget-content{color:#061058 !important;font-size:15px;font-weight:500;line-height:2em;}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-advanced-text{text-align:left !important;padding:12% 11% 12% 11%;}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-text-widget-overlay, .elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-advanced-text{border-radius:50px 50px 50px 50px;}.elementor-422 .elementor-element.elementor-element-71b5cc7{--display:flex;--justify-content:center;--margin-top:0px;--margin-bottom:0px;--margin-left:20px;--margin-right:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-b23d128{animation-duration:2500ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-ico-box{padding:0px 040px 0px 0px;color:#ffffff;fill:#ffffff;}.elementor-422 .elementor-element.elementor-element-b23d128 .col-title a, .elementor-422 .elementor-element.elementor-element-b23d128 .col-title{color:#061058 !important;}.elementor-422 .elementor-element.elementor-element-b23d128 .col-title, .elementor-422 .elementor-element.elementor-element-b23d128 .col-title a{font-size:25px;font-weight:bold;text-transform:capitalize;line-height:1.2em;letter-spacing:-0.75px;}.elementor-422 .elementor-element.elementor-element-b23d128 .widget-content{color:#061058 !important;font-size:15px;font-weight:500;line-height:2em;}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-advanced-text{text-align:left !important;padding:12% 11% 12% 11%;}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-text-widget-overlay, .elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-advanced-text{border-radius:50px 50px 50px 50px;}@media(max-width:1024px){.elementor-422 .elementor-element.elementor-element-7ddeaf8{--flex-wrap:wrap;}.elementor-422 .elementor-element.elementor-element-805273f{--margin-top:0px;--margin-bottom:50px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-422 .elementor-element.elementor-element-25cdf7b .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-422 .elementor-element.elementor-element-25cdf7b .aux-modern-heading-secondary{font-size:40px;max-width:350px;}.elementor-422 .elementor-element.elementor-element-46947fc input:not([type="submit"]){max-width:100%;}.elementor-422 .elementor-element.elementor-element-e782528{--flex-wrap:wrap;}.elementor-422 .elementor-element.elementor-element-be3328c{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-422 .elementor-element.elementor-element-81807fb{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;}.elementor-422 .elementor-element.elementor-element-81807fb .aux-ico-box{padding:0px 0px 20px 0px;}.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-advanced-text{text-align:center !important;padding:20px 20px 20px 20px;}.elementor-422 .elementor-element.elementor-element-cbdecfe{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-422 .elementor-element.elementor-element-84b4739{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-ico-box{padding:0px 0px 20px 0px;}.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-advanced-text{text-align:center !important;padding:20px 20px 20px 20px;}.elementor-422 .elementor-element.elementor-element-71b5cc7{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-422 .elementor-element.elementor-element-b23d128{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-ico-box{padding:0px 0px 20px 0px;}.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-advanced-text{text-align:center !important;padding:20px 20px 20px 20px;}}@media(max-width:767px){.elementor-422 .elementor-element.elementor-element-25cdf7b .aux-modern-heading-secondary{font-size:30px;max-width:250px;}.elementor-422 .elementor-element.elementor-element-be3328c{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-422 .elementor-element.elementor-element-cbdecfe{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-422 .elementor-element.elementor-element-71b5cc7{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}}@media(min-width:768px){.elementor-422 .elementor-element.elementor-element-064aba7{--content-width:1600px;}.elementor-422 .elementor-element.elementor-element-805273f{--width:95%;}.elementor-422 .elementor-element.elementor-element-88e8881{--content-width:1600px;}}@media(max-width:1024px) and (min-width:768px){.elementor-422 .elementor-element.elementor-element-805273f{--width:100%;}.elementor-422 .elementor-element.elementor-element-30db38a{--width:100%;}.elementor-422 .elementor-element.elementor-element-be3328c{--width:33%;}.elementor-422 .elementor-element.elementor-element-cbdecfe{--width:33%;}.elementor-422 .elementor-element.elementor-element-71b5cc7{--width:33%;}}/* Start custom CSS for aux_contact_form, class: .elementor-element-46947fc */@media only screen and (min-width:768px){
    .elementor-422 .elementor-element.elementor-element-46947fc .part1{
    display: flex;
    justify-content: space-between
}
.elementor-422 .elementor-element.elementor-element-46947fc .part1 .left-part{
    margin-right: 10px;
    width: 50%;
    max-width: 100%;
}
.elementor-422 .elementor-element.elementor-element-46947fc .part1 .right-part{
    margin-left: 10px;
    width: 50%;
    max-width: 100%;
}
}
.elementor-422 .elementor-element.elementor-element-46947fc .wpcf7-not-valid-tip{
    margin-top: -17px;
    margin-bottom: 20px;
}
.elementor-422 .elementor-element.elementor-element-46947fc .wpcf7-response-output{
    margin-left: 0;
    margin-right: 0;
}/* End custom CSS */
/* Start custom CSS for aux_gmap, class: .elementor-element-98f0a1d */.elementor-422 .elementor-element.elementor-element-98f0a1d .aux-map-wrapper {
    border-radius: 20px
}
.elementor-422 .elementor-element.elementor-element-98f0a1d .gmnoprint,.elementor-422 .elementor-element.elementor-element-98f0a1d .gm-style-cc,.elementor-422 .elementor-element.elementor-element-98f0a1d .gm-control-active{
    display: none
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-81807fb */.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-text .aux-ico-pos-left{
    justify-content: center;
}
.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-advanced-text{
      transition:all 300ms ease-out;
}
.elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-advanced-text:hover{
    box-shadow: 0px 30px 30px #70798B1A;
    transition:all 300ms ease-out;
}
@media only screen and (max-width:1600px) and (min-width:1025px){
    .elementor-422 .elementor-element.elementor-element-81807fb .aux-ico-box{
    padding:0;
    max-width:60%;
    margin-left:0;
   
}
    .elementor-422 .elementor-element.elementor-element-81807fb .widget-content{
        font-size:13px;
    }
    .elementor-422 .elementor-element.elementor-element-81807fb .col-title{
      font-size:20px!important;
    }
}
@media only screen and (max-width:1400px) and (min-width:1025px){
   
    .elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-advanced-text{
        padding-left:6%;
        padding-right:6%;
    }
    .elementor-422 .elementor-element.elementor-element-81807fb .widget-content{
        font-size:10px;
    }
}
@media only screen and (max-width:500px){
    .elementor-422 .elementor-element.elementor-element-81807fb .aux-ico-box{
     max-width:60%;
       }
     .elementor-422 .elementor-element.elementor-element-81807fb .widget-content{
        font-size:11px;
    }
    .elementor-422 .elementor-element.elementor-element-81807fb .col-title{
      font-size:20px!important;
    }
}
@media only screen and (max-width:1024px){
    .elementor-422 .elementor-element.elementor-element-81807fb .aux-widget-text .aux-ico-pos-left{
        flex-direction:column;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-be3328c */@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-422 .elementor-element.elementor-element-be3328c {
        width:100%;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-84b4739 */.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-text .aux-ico-pos-left{
    justify-content: center;
}
.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-advanced-text{
      transition:all 300ms ease-out;
}
.elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-advanced-text:hover{
    box-shadow: 0px 30px 30px #70798B1A;
     transition:all 300ms ease-out;
    v
}
@media only screen and (max-width:1600px) and (min-width:1025px){
    .elementor-422 .elementor-element.elementor-element-84b4739 .aux-ico-box{
    padding:0;
    max-width:60%;
    margin-left:0;
   
}
    .elementor-422 .elementor-element.elementor-element-84b4739 .widget-content{
        font-size:13px;
    }
    .elementor-422 .elementor-element.elementor-element-84b4739 .col-title{
      font-size:20px!important;
    }
}
@media only screen and (max-width:1400px) and (min-width:1025px){
   
    .elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-advanced-text{
        padding-left:6%;
        padding-right:6%;
    }
    .elementor-422 .elementor-element.elementor-element-84b4739 .widget-content{
        font-size:10px;
    }
}
@media only screen and (max-width:500px){
    .elementor-422 .elementor-element.elementor-element-84b4739 .aux-ico-box{
       max-width:60%;
    
    }
     .elementor-422 .elementor-element.elementor-element-84b4739 .widget-content{
        font-size:11px;
    }
    .elementor-422 .elementor-element.elementor-element-84b4739 .col-title{
      font-size:20px!important;
    }
}

@media only screen and (max-width:1024px){
    .elementor-422 .elementor-element.elementor-element-84b4739 .aux-widget-text .aux-ico-pos-left{
        flex-direction:column;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-cbdecfe */@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-422 .elementor-element.elementor-element-cbdecfe {
        width:100%;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-b23d128 */.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-text .aux-ico-pos-left{
    justify-content: center;
}
.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-advanced-text{
      transition:all 300ms ease-out;
}
.elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-advanced-text:hover{
    box-shadow: 0px 30px 30px #70798B1A;
     transition:all 300ms ease-out;
}
@media only screen and (max-width:1600px) and (min-width:1025px){
    .elementor-422 .elementor-element.elementor-element-b23d128 .aux-ico-box{
    padding:0;
    max-width:60%;
    margin-left:0;
   
}
    .elementor-422 .elementor-element.elementor-element-b23d128 .widget-content{
        font-size:13px;
    }
    .elementor-422 .elementor-element.elementor-element-b23d128 .col-title{
      font-size:20px!important;
    }
}
@media only screen and (max-width:1400px) and (min-width:1025px){
   
    .elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-advanced-text{
        padding-left:6%;
        padding-right:6%;
    }
    .elementor-422 .elementor-element.elementor-element-b23d128 .widget-content{
        font-size:10px;
    }
}
@media only screen and (max-width:500px){
    .elementor-422 .elementor-element.elementor-element-b23d128 .aux-ico-box{
    max-width:60%;
    }
     .elementor-422 .elementor-element.elementor-element-b23d128 .widget-content{
        font-size:11px;
    }
    .elementor-422 .elementor-element.elementor-element-b23d128 .col-title{
      font-size:20px!important;
    }
}


@media only screen and (max-width:1024px){
    .elementor-422 .elementor-element.elementor-element-b23d128 .aux-widget-text .aux-ico-pos-left{
        flex-direction:column;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-71b5cc7 */@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-422 .elementor-element.elementor-element-71b5cc7 {
        width:100%;
    }
}/* End custom CSS */