<footer class="aux-elementor-footer" itemscope="itemscope" itemtype="https://schema.org/WPFooter" role="contentinfo">
        <div class="aux-wrapper">
        		<div data-elementor-type="footer" data-elementor-id="419" class="elementor elementor-419">
				<div class="aux-parallax-section elementor-element elementor-element-3a5b682 e-flex e-con-boxed e-con e-parent" data-id="3a5b682" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-00b063e e-con-full e-flex e-con e-child" data-id="00b063e" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
		<div class="elementor-element elementor-element-5d4f46c e-con-full e-flex e-con e-child" data-id="5d4f46c" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-8c064fa e-con-full e-flex e-con e-child" data-id="8c064fa" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b00446c aux-appear-watch-animation aux-slide-from-bot elementor-widget elementor-widget-aux_modern_heading" data-id="b00446c" data-element_type="widget" data-e-type="widget" data-widget_type="aux_modern_heading.default">
					<section class="aux-widget-modern-heading">
            <div class="aux-widget-inner"><h2 class="aux-modern-heading-primary">Humble, Yet Noble Beginnings</h2></div>
        </section>				</div>
				</div>
		<div class="elementor-element elementor-element-da3c2fc e-con-full e-flex e-con e-child" data-id="da3c2fc" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d8ff4f6 aux-appear-watch-animation aux-fade-in-down elementor-widget elementor-widget-text-editor" data-id="d8ff4f6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>We prioritize delivering value to our customers above all else, focusing on what matters most to them and solving their challenges with dedication and speed.</p>								</div>
				<div class="elementor-element elementor-element-24e1dc4 aux-appear-watch-animation aux-fade-in-up elementor-widget elementor-widget-aux_modern_button" data-id="24e1dc4" data-element_type="widget" data-e-type="widget" data-widget_type="aux_modern_button.default">
					    <div class="aux-modern-button-wrapper aux-modern-button-align-left">
                    <a class="aux-modern-button aux-black aux-modern-button-md aux-modern-button-normal aux-modern-button-default aux-icon-right" href="/contact">
                <div class="aux-overlay"></div>
                                    <div class="aux-icon ">
                        <i aria-hidden="true" class="auxicon2 auxicon2-arrow-thin-right"></i>                    </div>
                                <div class="aux-text">
<span class="aux-text-before">Reach Now</span>                </div>
            </a>
            
    </div>

    				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="aux-parallax-section elementor-element elementor-element-946e9d2 e-flex e-con-boxed e-con e-parent" data-id="946e9d2" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-d35930c e-con-full e-flex e-con e-child" data-id="d35930c" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4f85821 elementor-widget__width-auto elementor-widget-tablet__width-inherit aux-appear-watch-animation aux-scale-down elementor-widget elementor-widget-aux_logo" data-id="4f85821" data-element_type="widget" data-e-type="widget" data-widget_type="aux_logo.default">
					<div class="aux-widget-logo"><a class="aux-logo-anchor aux-has-logo" title="Mesonsoft" href="/"><img width="275" height="75" src="/assets/cropped-new-ms-resized-logo.png" class="aux-attachment aux-featured-image attachment-275x75 aux-attachment-id-433 " alt="cropped-new-ms-resized-logo" data-ratio="3.67" data-original-w="275"></a><section class="aux-logo-text"><h3 class="site-title"><a href="/" title="Mesonsoft">Mesonsoft</a></h3><p class="site-description">a passion for innovation</p></section></div>				</div>
				<div class="elementor-element elementor-element-422a45b elementor-widget__width-auto elementor-widget-tablet__width-inherit aux-appear-watch-animation aux-fade-in elementor-widget elementor-widget-aux_menu_box" data-id="422a45b" data-element_type="widget" data-e-type="widget" data-widget_type="aux_menu_box.default">
					<div class="aux-elementor-header-menu aux-nav-menu-element aux-nav-menu-element-422a45b"><div class="aux-burger-box" data-target-panel="overlay" data-target-content=".elementor-element-422a45b .aux-master-menu"><div class="aux-burger aux-lite-small"><span class="mid-line"></span></div></div><!-- start master menu -->
<nav id="master-menu-elementor-422a45b" class="menu-footer-menu-container">

	<ul id="menu-footer-menu" class="aux-master-menu aux-skin-classic aux-horizontal aux-wide" data-type="horizontal" data-switch-type="toggle" data-switch-parent=".elementor-element-422a45b .aux-fs-popup .aux-fs-menu" data-switch-width="1">
		<!-- start single menu -->
		<li id="menu-item-425" class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-424 current_page_item menu-item-425 aux-menu-depth-0 aux-menu-root-1 aux-menu-item">
			<a href="/" class="aux-item-content">
				<span class="aux-menu-label">Home</span>
			</a>
		</li>
		<!-- end single menu -->
		<!-- start single menu -->
		<li id="menu-item-426" class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-426 aux-menu-depth-0 aux-menu-root-2 aux-menu-item">
			<a href="/about" class="aux-item-content">
				<span class="aux-menu-label">About</span>
			</a>
		</li>
		<!-- end single menu -->
		<!-- start single menu -->
		<li id="menu-item-427" class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-427 aux-menu-depth-0 aux-menu-root-3 aux-menu-item">
			<a href="/#" class="aux-item-content">
				<span class="aux-menu-label">Blog</span>
			</a>
		</li>
		<!-- end single menu -->
		<!-- start single menu -->
		<li id="menu-item-428" class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-428 aux-menu-depth-0 aux-menu-root-4 aux-menu-item">
			<a href="/contact" class="aux-item-content">
				<span class="aux-menu-label">Contact</span>
			</a>
		</li>
		<!-- end single menu -->
	</ul>

</nav>
<!-- end master menu -->
<section class="aux-fs-popup aux-fs-menu-layout-center aux-indicator" style="display: none;"><div class="aux-panel-close"><div class="aux-close aux-cross-symbol aux-thick-medium"></div></div><div class="aux-fs-menu" data-menu-title=""></div></section></div><style>@media only screen and (min-width: 2px) { .elementor-element-422a45b .aux-burger-box { display: none } }</style>				</div>
				<div class="elementor-element elementor-element-3add266 elementor-widget__width-auto elementor-widget-tablet__width-inherit aux-appear-watch-animation aux-fade-in-left elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-id="3add266" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin-in elementor-repeater-item-ac577fd" href="https://www.linkedin.com/company/mesonsoft-llc" target="_blank">
						<span class="elementor-screen-only">Linkedin-in</span>
						<i aria-hidden="true" class="fab fa-linkedin-in"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-da60ae9" href="https://www.facebook.com/mesonsoft/" target="_blank">
						<span class="elementor-screen-only">Facebook-f</span>
						<i aria-hidden="true" class="fab fa-facebook-f"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-9f95e78" href="https://x.com/mesonsoft" target="_blank">
						<span class="elementor-screen-only">Twitter</span>
						<i aria-hidden="true" class="fab fa-twitter"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-d4feb8c" href="https://www.youtube.com/playlist?list=PLPc7m-uVvSfZeNkU_WyGMmFd-JCALAmjd" target="_blank">
						<span class="elementor-screen-only">Youtube</span>
						<i aria-hidden="true" class="fab fa-youtube"></i>					</a>
				</span>
					</div>
						</div>
				</div>
					</div>
				</div>
		<div class="aux-parallax-section elementor-element elementor-element-21100e8 e-flex e-con-boxed e-con e-parent" data-id="21100e8" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-9d45e96 e-con-full e-flex e-con e-child" data-id="9d45e96" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-07f58d7 elementor-widget__width-auto elementor-widget-tablet__width-inherit elementor-widget elementor-widget-aux_icon_list" data-id="07f58d7" data-element_type="widget" data-e-type="widget" data-widget_type="aux_icon_list.default">
					<section class="widget-container aux-widget-icon-list aux-parent-aufd7c7729"><div class="widget-inner"><div class="aux-widget-icon-list-inner"><ul class="aux-icon-list-items aux-direction-default"><li class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-3d6ac7a elementor-repeater-item-3d6ac7a"><span class="aux-icon-list-text">Terms of use</span></li><li class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-d2531ac elementor-repeater-item-d2531ac"><span class="aux-icon-list-text">Privacy Policy</span></li><li class="aux-icon-list-item aux-list-item-has-icon aux-icon-list-item-cbc386a elementor-repeater-item-cbc386a"><a class="aux-icon-list-link" href="https://shiva-dhanuskodi.us/"><span class="aux-icon-list-text">Shiva Dhanuskodi</span></a></li></ul></div></div></section><!-- widget-container -->				</div>
				<div class="elementor-element elementor-element-3fee794 elementor-widget__width-auto elementor-widget-tablet__width-inherit elementor-widget elementor-widget-aux_copyright" data-id="3fee794" data-element_type="widget" data-e-type="widget" data-widget_type="aux_copyright.default">
					<small>Copyright © 2026 Mesonsoft . All Rights Reserved.</small>				</div>
				</div>
					</div>
				</div>
				</div>
		        </div><!-- end of wrapper -->
    </footer><!-- end footer -->
