<header class="aux-elementor-header" id="site-elementor-header" itemscope="itemscope" itemtype="https://schema.org/WPHeader" data-sticky-height="80">
        <div class="aux-wrapper">
            <div class="aux-header aux-header-elements-wrapper">
            		<div data-elementor-type="header" data-elementor-id="421" class="elementor elementor-421">
				<div class="aux-parallax-section elementor-element elementor-element-f4e232f e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="f4e232f" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-a12ead2 e-con-full e-flex e-con e-child" data-id="a12ead2" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2533fce elementor-widget__width-auto elementor-widget elementor-widget-aux_image" data-id="2533fce" data-element_type="widget" data-e-type="widget" data-widget_type="aux_image.default">
					<section class="widget-container aux-widget-image aux-alignnone aux-parent-au1e937c85">
    <div class="aux-media-hint-frame ">
        <div class="aux-media-image ">
        
            

            
            <img width="708" height="708" src="/assets/Rectangle-80.png" class="aux-attachment aux-featured-image aux-attachment-id-417" alt="demo-attachment-93-Rectangle-80" data-ratio="1" data-original-w="708">            
                </div>
    </div>

</section><!-- widget-container -->				</div>
				<div class="elementor-element elementor-element-669c9bc elementor-widget__width-auto aux-appear-watch-animation aux-scale-down-1 elementor-widget elementor-widget-aux_logo aux-animated aux-animated-once" data-id="669c9bc" data-element_type="widget" data-e-type="widget" data-widget_type="aux_logo.default">
					<div class="aux-widget-logo"><a class="aux-logo-anchor aux-has-logo" title="Mesonsoft" href="/"><img width="275" height="75" src="/assets/cropped-new-ms-resized-logo.png" class="aux-attachment aux-featured-image attachment-275x75 aux-attachment-id-433 " alt="cropped-new-ms-resized-logo" data-ratio="3.67" data-original-w="275"></a><section class="aux-logo-text"><h3 class="site-title"><a href="/" title="Mesonsoft">Mesonsoft</a></h3><p class="site-description">a passion for innovation</p></section></div>				</div>
				<div class="elementor-element elementor-element-2cccaed elementor-widget__width-auto aux-appear-watch-animation aux-fade-in-right elementor-widget elementor-widget-aux_menu_box aux-animated aux-animated-once" data-id="2cccaed" data-element_type="widget" data-e-type="widget" data-widget_type="aux_menu_box.default" style="animation-name: none; opacity: 1;">
					<div class="aux-elementor-header-menu aux-nav-menu-element aux-nav-menu-element-2cccaed"><div class="aux-burger-box" data-target-panel="overlay" data-target-content=".elementor-element-2cccaed .aux-master-menu"><div class="aux-burger aux-lite-small"><span class="mid-line"></span></div></div><!-- start master menu -->
<nav id="master-menu-elementor-2cccaed" class="menu-header-menu-container">

	<ul id="menu-header-menu" class="aux-master-menu aux-skin-classic aux-horizontal aux-wide" data-type="horizontal" data-switch-type="toggle" data-switch-parent=".elementor-element-2cccaed .aux-fs-popup .aux-fs-menu" data-switch-width="1024">
		<!-- start single menu -->
		<li id="menu-item-429" class="a1i0s0 menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-424 current_page_item menu-item-429 aux-menu-depth-0 aux-menu-root-1 aux-menu-item">
			<a href="/" class="aux-item-content">
				<span class="aux-menu-label">Home</span>
			</a>
		</li>
		<!-- end single menu -->
		<!-- start single menu -->
		<li id="menu-item-430" class="a1i0s0 menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-424 current_page_item menu-item-430 aux-menu-depth-0 aux-menu-root-2 aux-menu-item">
			<a href="/#Features" class="aux-item-content">
				<span class="aux-menu-label">Products</span>
			</a>
		</li>
		<!-- end single menu -->
		<!-- start single menu -->
		<li id="menu-item-431" class="a1i0s0 menu-item menu-item-type-post_type menu-item-object-page menu-item-431 aux-menu-depth-0 aux-menu-root-3 aux-menu-item">
			<a href="/about" class="aux-item-content">
				<span class="aux-menu-label">About</span>
			</a>
		</li>
		<!-- end single menu -->
		<!-- start single menu -->
		<li id="menu-item-432" class="a1i0s0 menu-item menu-item-type-post_type menu-item-object-page menu-item-432 aux-menu-depth-0 aux-menu-root-4 aux-menu-item">
			<a href="/contact" class="aux-item-content">
				<span class="aux-menu-label">Contact</span>
			</a>
		</li>
		<!-- end single menu -->
	</ul>

</nav>
<!-- end master menu -->
<section class="aux-fs-popup aux-fs-menu-layout-center aux-indicator" style="display: none;"><div class="aux-panel-close"><div class="aux-close aux-cross-symbol aux-thick-medium"></div></div><div class="aux-fs-menu" data-menu-title=""></div></section></div><style>@media only screen and (min-width: 1025px) { .elementor-element-2cccaed .aux-burger-box { display: none } }</style>				</div>
				<div class="elementor-element elementor-element-bf676be elementor-widget__width-auto elementor-hidden-phone aux-appear-watch-animation aux-fade-in-left elementor-widget elementor-widget-aux_modern_heading aux-animated aux-animated-once" data-id="bf676be" data-element_type="widget" data-e-type="widget" data-widget_type="aux_modern_heading.default">
					<section class="aux-widget-modern-heading">
            <div class="aux-widget-inner"><a href="https://www.wallofwisdom.org/" class="aux-modern-heading-primary-link"><h5 class="aux-modern-heading-primary">Blog</h5></a></div>
        </section>				</div>
				<div class="elementor-element elementor-element-6fd2c1f elementor-widget__width-auto elementor-hidden-phone aux-appear-watch-animation aux-fade-in-left elementor-widget elementor-widget-aux_modern_button aux-animated aux-animated-once" data-id="6fd2c1f" data-element_type="widget" data-e-type="widget" data-widget_type="aux_modern_button.default">
					    <div class="aux-modern-button-wrapper aux-modern-button-align-left">
                    <a class="aux-modern-button aux-black aux-modern-button-md aux-modern-button-normal aux-modern-button-default aux-icon-" href="/about">
                <div class="aux-overlay"></div>
                                    <div class="aux-icon ">
                                            </div>
                                <div class="aux-text">
<span class="aux-text-before">Reach Us</span>                </div>
            </a>
            
    </div>

    				</div>
				</div>
					</div>
				</div>
				</div>
		            </div><!-- end of header-elements -->
        </div><!-- end of wrapper -->
    </header><!-- end header -->
